.nav-bar {
    display: flex;
    background-color: aliceblue;
    width: 100%;
    height: 80px;
    box-shadow: 1px 5px 5px rgb(0, 0, 0, 0.3);
}

.logo-title {
    display: flex;
    width: 250px;
    box-shadow: 1px 5px 5px rgb(0, 0, 0, 0.3);
}

.form-input {
    width: 600px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    box-shadow: 1px 5px 5px rgb(0, 0, 0, 0.3);
}

.form-search {
    height: 40px;
    width: 100%;
}

.form-search input{
    width: 90%;
    height: 90%;
}

.icono-not{
    display: flex;
    align-items: center;
    box-shadow: 1px 5px 5px rgb(0, 0, 0, 0.3);
}

.usuarios {
    width: 300px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    box-shadow: 1px 5px 5px rgb(0, 0, 0, 0.3);
}

/* Estilo para el botón de "Iniciar sesión" */
.usuarios > div {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.user-span {
    display: flex;
    align-items: center;
}

/* Estilo básico para el menú desplegable */
.dropdown-menu {
    height: 38px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}


/* Estilo para el botón de cerrar sesión dentro del menú desplegable */
.dropdown-menu button {
    cursor: pointer;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
}

.arrow{
    margin-left: 5px;
}